<?xml version="1.0"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0"/>
      <pages validateRequest="false"/>
      <compilation debug="true" targetFramework="4.0"/>
      <membership>
        <providers>
          <clear/>
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
        </providers>
      </membership>
      <profile>
        <providers>
          <clear/>
          <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        </providers>
      </profile>
      <roleManager enabled="false">
        <providers>
          <clear/>
          <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
          <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
        </providers>
      </roleManager>
      <customErrors mode="Off"/>
      <!-- Setup the forms authentication attributes -->
      <!-- If you wish to use the InstantForum.NET authentication ticket within -->
      <!-- another web application you'll need to ensure this section is present within -->
      <!-- the web.config for your other application, you'll also need to ensure you include -->
      <!-- the machineKey element below -->
      <authentication mode="Forms">
        <forms name="InstantASP" loginUrl="~/login/" protection="All" slidingExpiration="true" path="/"/>
      </authentication>
      <machineKey validationKey="BD52058A3DEA473EA99F29418689528A494DF2B00054BB7C" decryptionKey="684FC9301F404DE1B9565E7D952005579E823307BED44885" validation="SHA1" decryption="Auto"/>
    </system.web>
  </location>
  <appSettings>
    <!-- ===[ GLOBAL CONFIGS ]========================================================================================================================= -->
    <add key="Global.ConnectionString" value="Data Source=PURSLANE\SQLEXPRESS; Initial Catalog=londonbikers_v5; Integrated Security=true;"/>
    <add key="Global.SiteURL" value="http://localhost:81"/>
    <add key="Global.Domain" value="londonbikers.com"/>
    <add key="Global.DefaultPageTitle" value="londonbikers.com"/>
    <add key="Global.MediaLibraryPath" value="F:\LBV5\"/>
    <add key="Global.MediaLibraryURL" value="http://localhost:81/_media/"/>
    <add key="Global.V3BirthDate" value="04 May 2007"/>
    <add key="Global.V3.5BirthDate" value="27 February 2008"/>
    <add key="Global.SiteDescription" value="Online magazine and community. Publishing the latest motorcycle news, reviews and interviews. As well the best motorcycle racing photos from bsb, wsb, motogp, and mx. The home of biking in London."/>
    <!-- ===[ APOLLO CONFIGS ]========================================================================================================================= -->
    <add key="Apollo.SiteID" value="1"/>
    <add key="Apollo.Content.MaxImageSize" value="4194304"/>
    <add key="Apollo.Content.CoverImageDimensions" value="125x100"/>
    <add key="Apollo.Content.IntroImageDimensions" value="477x232"/>
    <add key="Apollo.Galleries.ThumbnailWidth" value="150"/>
    <add key="Apollo.Caching.ItemCeiling" value="10000"/>
    <add key="Apollo.EnableRSS" value="true"/>
    <add key="Apollo.WatermarkImagePath" value="C:\Users\Jay\OneDrive\Source\londonbikers\version5\LBWeb\_images\logo-overlay-left.png"/>
    <add key="Apollo.HDWatermarkImagePath" value="C:\Users\Jay\OneDrive\Source\londonbikers\version5\LBWeb\_images\1600-wm4.png"/>
    <add key="Apollo.CachePopularTagsPeriodHours" value="24"/>
    <add key="Apollo.PopularContentProcessIntervalMins" value="15"/>
    <add key="Apollo.ContentPopularityRetrievalPeriodDays" value="3"/>
    <add key="Apollo.ArticlePopularityRetrievalPeriodDays" value="30"/>
    <!-- ===[ UTILITIES CONFIGS ]====================================================================================================================== -->
    <add key="Apollo.Utilities.CensoredPhrases" value="bollocks,bollox,fuck,fucking,fucker,f u c k,f u c k e r,shit,sh1t,s h i t,shitting,cunt,c u n t,cunting,w a n k,wank,wanker,wanking,nigger,paki,londonmoto,london moto,cd riders,c d r i d e r s,carpe diem,phucking,fucks,cocks,fcuk,fuckin,cnut,cock,c@cks,cuntin,piss,pissin,fooking,fook"/>
    <!-- ===[ HELPERS CLASS CONFIGS ]================================================================================================================== -->
    <add key="Helpers.EncryptionKey" value="G0atzMil"/>
    <!-- must be 8 chars long -->
    <!-- ===[ TETRON CONFIGS ]========================================================================================================================= -->
    <!-- localhost -->
    <add key="Tetron.GoogleMapsKey" value="(redacted)"/>
    <!-- live -->
    <!--<add key="Tetron.GoogleMapsKey" value="(redacted)" />-->
    <!-- staging -->
    <!--<add key="Tetron.GoogleMapsKey" value="(redacted)" />-->
    <add key="Tetron.DefaultMetaKeywords" value="motorcycle news, motorcycle photos, motorcycle reviews, london, bikers, british superbikes, world superbikes, motogp"/>
    <add key="Tetron.DefaultAppendedKeywords" value=", motorcycle news, london, bikers, motorcyclists"/>
    <add key="Tetron.SmtpServer" value="localhost"/>
    <add key="Tetron.SystemMailAddress" value="contact@londonbikers.com"/>
    <add key="Tetron.SystemFilePath" value="C:\Users\Jay\OneDrive\Source\londonbikers\version5\LBWeb\_system\"/>
    <add key="Tetron.MaxSubNavItemsVisible" value="9"/>
    <add key="Tetron.ShortSiteDescription" value="London's Motorcycling Home"/>
    <add key="Tetron.MaxImageHandlerDimension" value="9999"/>
    <add key="Tetron.CustomTagFormats" value="MotoGP,MotoGB,Law,GSX-R 1000,VFR1200,KTM,BMW,GSX-R 600,GSX-R 750,YZF-R1,YZF-R6,Ninja ZX-6R,Ninja ZX-10R,CBR1000rr,CBR600rr,AMA Superbike,AMA Supercross,AMA Supermoto,AMA Flat Track,IOM TT,Manx GP,WSB,BSB,SBK,AMA,MX,SX,British MX,World MX"/>
    <add key="Tetron.FtpImportPaths" value="F:\Filestores\LB\FTPDump,F:\Filestores\LB\PhotographerDump"/>
    <add key="Tetron.EnableAntiSpamLogging" value="false"/>
    <!-- ===[ FORUM CONFIGS ]========================================================================================================================= -->
    <add key="InstantASP_ConnectionString" value="server=PURSLANE\SQLEXPRESS;trusted_connection=true;database=londonbikers_v5_forums"/>
    <add key="InstantASP_AttachmentsFolderPath" value="F:\LBV5\forum-attachments"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <!-- 400mb -->
        <requestLimits maxAllowedContentLength="419430400"/>
        <fileExtensions>
          <add fileExtension=".jar" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>