#topStories {
    width: 81px;
    padding-left: 5px;
}
#topStoriesTail {
    padding-left: 5px;
    width: 589px;
}
#editorsChoice {
    width: 124px;
    padding-left: 5px;
}
#editorsChoiceTail {
    width: 105px;
}
#ecContent {
    width: 213px;
    height: 206px;
    background-color: #efedea;
    border: 3px solid #ccc;
    float: left;
    padding: 5px;
}
#ecContent hr {
    margin: 3px 0px 3px 0px;
}
.ecImg {
    width: 44px;
    height: 44px;
    margin-right: 5px;
    border: 1px solid #b5b3b3;
}
.ecImgR {
    width: 44px;
    height: 44px;
    margin-left: 5px;
    border: 1px solid #b5b3b3;
}
.ecImg:hover {
    border-color: #d73293;
}
.ecImg:hover, .ecImgR:Hover {
    border-color: #d73293;
}
.lsImg {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: 1px solid #b5b3b3;
}
.lsImgR {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid #b5b3b3;
}
.lsImg:hover {
    border-color: #d73293;
}
.lsImg:hover, .lsImgR:Hover {
    border-color: #d73293;
}
.ecTitle {
    font-size: 0.8em;
    font-family: Arial;
    font-weight: bold;
}
.rowEnd {
    margin-bottom: 5px;
}
#storyScroller {
    width: 446px;
    height: 222px;
    float: left;
    margin-right: 5px;
}
#titleRow {
    padding: 5px;
    border-bottom: 1px solid #2b2a2f;
    background-color: #f1eee9;
}
#row2Div {
    margin-top: 5px;
    width: 680px;
}
#popularArticlesArea {
    width: 446px;
    margin-right: 5px;
    float: left;
}
#popularArticlesHead {
    margin-bottom: 5px;
}
#popularArticles {
    width: 115px;
    padding-left: 5px;
}
#popularArticlesTail {
    width: 321px;
    padding-left: 5px;
}

#latestStoriesArea {
    width: 446px;
    margin-right: 5px;
    float: left;
}
#popularStoriesArea {
    padding-left: 5px;
}
.story {
    margin-bottom: 40px;
}
.story h2 {
    font-size: 2em;
}
.storyTitle {
    margin: 10px 0px 10px 0px;
}
.storyImg {
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
}
.storyAdditions {
    font-weight: bold;
    font-size: 0.8em;
    font-family: Arial;
    color: #555;
}

/* FAVOURITE TOPICS RHS */
#favouriteTopicsArea {
    width: 229px;
    float: left;
}
#lsRhsHead {
    width: 110px;
    padding-left: 5px;
    background-color: #b1b1b3 !important;
    color: #51515b !important;
}
#lsRhsTail {
    width: 120px;
}
#lsRhsFrame {
    background-color: #f8f7f6;
}

/* FEATURES */
#features {
    width: 130px;
}
#featuresTail {
    width: 550px;
}
#featuresBg {
    background-color: #eeece8;
    padding: 10px;
}

.featureboxgrid {
	width: 325px;
	height: 170px;
	background:#161613;
	overflow: hidden;
	position: relative;
}
.featureboxgrid img {
    border: 1px solid #555555;
}
.featureCover {
    padding: 5px;
    font-size: 0.8em !important;
    color: #6c6c6c;
}
.featureboxgrid div a {
    text-decoration: none;
    color: #ccc;
}
.fecaption {
    width: 325px;
}
.boxcaption {  
    float: left;  
    position: absolute;  
    background: #000;  
    height: 100px;  
    width: 100%;  
    opacity: .8;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
}
.caption .boxcaption {  
    top: 128px;
    left: 0px;
}